/* Components - Typography */
h1,h2,h3,h4,h5,h6 {
	@include font__primary;
}
/* Default fonts */
body {
	@include font__size(25px);
	@include font__primary;
}
h1 {
	@include font--size(73.57px);
}
h2 {
	@include font--size(28px);
}
h3 {
	@include font--size(22px);
}
strong,b {
	font-weight: 700;
}
em,i {
	font-style: italic;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
p, span {
	a {
		@include link;
	}
}
p {
	margin: 15px 0;
}
