/* Typography */
$font__feature: 'Open Sans', sans-serif;
$font__primary: 'Rasa', serif;

/* Colors */
$color__feature: #F26B57;
$color__feature--dark: #DF6350;
$color__white: #FFFFFF;
$color__grey--lightest: #F6F4F4;
$color__grey--light: #D4D3D3;
$color__grey: #7D7D7D;
$color__grey--dark: #373737;
$color__black: #000000;