.header {
	background-color: $color__white;
	padding: 10px 20px 0 20px;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;

	.logo-holder {
		float: left;
		height: auto;

		.logo-holder__logo {
			height: auto;
			max-width: 40px;
		}
	}
	.header__account {
		@include font__size(22px);
		float: right;
	}
}
