#home {
}
.home__grid,.grid__story-col {
	padding: 10px;
}
#home-grid {
	margin-top: 80px;
	padding: 0;
}
.home__element {
	float: left;
	padding: 15px;
	width: 33%;

	&:hover {
		/*.home-story__description {
			@include transform(translateY(0%));
			opacity: 1;
			visibility: visible;
		}*/
		/*&:nth-child(3n+3) {
			.home-story__description {
				@include transform(translateY(0%));
			}
		}*/
		.home-story__quick-action {
			@include transform(translateY(0%));
		}
	}
}
.home-story {
	@include maintain-ratio(16 9);
	position: relative;

	&.excerpt {
		.home-story__description {
			opacity: 1;
			visibility: visible;
		}
		.home-story__info {
			background-color: rgba($color__black, 0.7);
			height: 100%;
		}
		.home-story__quick-action--description {
			color: $color__white;

			.home-story__action-icon {
				color: $color__feature;
			}
		}
	}
}
.home-story__image-wrapper {
	@include maintain-ratio(16 9);
	overflow: hidden;
	position: relative;
	width: 100%;
}
.home-story__image {
	@include transform(translate(-50%,-50%));
	height: auto;
	left: 50%;
	position: absolute;
	top: 50%;
	width: 100%;
}
.home-story__info {
	@include transition(background 0.2s linear);
	@include gradient--vertical(rgba(0,0,0,.6), rgba(0,0,0,0));
	color: $color__white;
	left: 0;
	padding: 15px;
	position: absolute;
	top: 0;
	width: 100%;
}
.home-story__title {
	@include font__feature;
	@include font__size(15px);
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.home-story__location {
	@include font__size(18px);
	margin: 0;
}
.home-story__location-pin {
	color: $color__feature;
	vertical-align: middle;
}
.home-story__location-name {
	@include font--size(12px);
	@include font__feature;
	font-weight: 700;
	text-transform: uppercase;
}

.home-story__description {
	@include font--size(16px);
	@include transition(all 0.2s linear);
	border-top: 1px solid white;
	margin-top: 10px;
	opacity: 0;
	padding-top: 10px;
	visibility: hidden;

	p {
		margin: 0;
	}
}
.home-story__quick-actions {
	@include font--size(13px);
	bottom: 0;
	cursor: pointer;
	color: $color__white;
	position: absolute;
	right: 10px;
}
.home-story__quick-action {
	@include transform(translateY(170%));
	@include transition(0.3s ease-in-out);
	background-color: $color__white;
	border-radius: 50%;
	color: $color__black;
	float: right;
	height: 25px;
	margin: 0 4px 10px 4px;
	padding: 5px;
	position: relative;
	width: 25px;

	&:nth-child(2) {
		@include transition(0.3s ease-in-out 0.05s);
	}
	&:nth-child(3) {
		@include transition(0.3s ease-in-out 0.1s);
	}
	&:nth-child(4) {
		@include transition(0.3s ease-in-out 0.15s);
	}
	.home-story__action-icon {
		@include transition(0.2s linear);
		@include transform(translate(-50%,-50%));
		left: 50%;
		position: absolute;
		top: 50%;
	}
	&.home-story__quick-action--read-later {
		@include font--size(17px);

		.home-story__action-icon {
			@include transform(translate(-50%,-57%));
		}
	}
}
.home-story {
	overflow: hidden;
}
