#filter-overlay {
  z-index: 3;
  position: absolute;
  width:100vw;
  height: 100vh;
  @include transition(all 0.3s linear);
  opacity: 0;
  visibility: hidden;

  .filter-overlay__the-cover {
    width:100vw;
    height: 100vh;
    background: $color__white;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }

  .filter-overlay__the-loader {
    width: 150px;
    height: 150px;
    background: url('../images/quick-nav/loading.gif') center no-repeat;
    -webkit-background-size: 70px;
    background-size: 150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
    position: absolute;
    z-index: 2;
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
#quick-nav {

  @include transition(0.5s ease-in-out);
  /*@include transform(translateX(-100%));*/
  width: 400px;

  left: 0px;
  height: 100vh;
  position: absolute;
  bottom: 0px;
  background: $color__white;
  z-index:2;

  .quick-nav__logo-holder {
    height: auto;
    padding: 20px;
    width:  100%;

    .logo-holder__logo {
      height: auto;
      max-width: 60px;
    }
  }

  #nav-toggle {

    @include transition(0.5s ease-in-out);
    @include transform(rotate(180deg));
    width: 70px;
    height: 70px;
    position: absolute;
    background: url('../images/quick-nav/open-arrow.svg') center no-repeat;
    -webkit-background-size: 70px;
    background-size: 70px;
    right: -40px;
    top: 50%;
    border-radius: 50%;
    margin-top: -35px;
    cursor: pointer;

  }

/*  &.open {
    @include transform(translateX(0));

    #nav-toggle {
      @include transform(rotate(0deg));
    }

  }*/

  h1 {
    @include font__primary;
    @include font-_size(30px);
  }

  .filters {
    .filters__mood-container {
      width: 100%;
      box-sizing: border-box;
      padding: 20px;
      .mood-container__category {
        width: 50%;
        float: left;
        label {
          cursor: pointer;
          width: 100%;
          float: left;
          @include font__feature();
          @include font__size(13px);
        }
      }
    }
  }


}

